{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<p>How To:</p>
<p>In Ecolocation, you can tag bats, attend environmentally friendly events, and connect with others who are helping the planet
Go to an event and join in to get a chance at tagging a bat
Different bats have different rarities. Generally speaking, the more rare the bat, the more you should care for it, as the lifespan decreases faster. <br>
Have fun saving the planet! Let’s tag some bats!</p>

{% endblock %}
