{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <div class="nav">
     <button class="logo" onclick="window.location.href='/'"><h1>EcoLocation</h1></button><br>
    {% if user.is_authenticated %}
    <ul>
      <li><h2><a href="{% url 'logout' %}">Logout</a></h2></li>
      <li><h2><a href="{% url 'make_event' %}">New Event</a></h2></li>
      <li><h2><a href="{% url 'check_event' %}">Attend</a></h2></li>
      <li><h2><a href="{% url 'view_tags_single' %}">Bats</a></h2></li>
      <li><h2><a href="{% url 'about' %}">About</a></h2></li>
    </ul>
    </div>
    {% else %}
    <ul>
      <li><h2><a href="{% url 'login' %}">Login</a></h2></li>

    </ul>
    {% endif %}
    
  </head>
  <body>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
