{% extends "base.html" %}

{% block content %}
<br>
<div class="all_cards_wrapper">
<div class="all_cards">
{% for t, d, i, c, p in tags %}


<div class="card_wrapper" style="background-color: #{{c}}">
<div class="card">
  <div class="container">
    <p>{{t.bat_name}}</p>
    <p>ID: {{t.bat_id}}</p>
    <p>Tag Date: {{t.date}}</p>
    <p>Event Tagged: {{t.event}}</p>
    <p>Rarity: {{p}}</p>
    <p></p>
  </div>
  {% load static %}
  <div class="pic">
    <img src="{% static i %}"></img>
  </div>
  <div class="container">
    <p>{{ d }}</p>
  </div>
</div>
</div>

<br>
<br>

{% endfor %}
</div>
</div>

{% endblock %}

 
